BlockBreaker/Library
BlockBreaker/Temp

CandyCastle/Library
CandyCastle/Temp

GlitchGarden/Library
GlitchGarden/Temp

LaserDefender/Library
LaserDefender/Temp

NumberWizard/Library
NumberWizard/Temp

TextAdventure/Library
TextAdventure/Temp

*build.bc
*db.lock
